$blue:                            #009fe3;
$purple:                          #82388d !default;
$dark:                            #2b323e;
$light_purple:                    #80619c;

:export {
    blue: $blue;
    purple: $purple;
    dark: $dark;
    light_purple: $light_purple;
}

